.introducao {
    max-width: 1200px;
    padding: 40px 20px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 100px;
    align-items: center;
}

.introducao h1 {
    font-family: "Fira Sans", Arial, Helvetica, sans-serif;
    font-size: 4.5rem;
    line-height: 1.125;
    margin-bottom: 30px;
    background: linear-gradient(120deg, #160030, #2D085D);
    -webkit-background-clip: text;
    color: transparent;
    position: relative;
}

.introducao h1::before {
    content: "";
    display: block;
    width: 130px;
    height: 100px;
    background: url('../img/detalhe.svg') no-repeat center;
    position: absolute;
    top: -10px;
    left: -40px;
    z-index: -1;
}


.introducao p {
    font-size: 1.5rem;
    color: #9383FF;
}

.frase {
    display: flex;
    align-items: center;
}

.icone-local {
    max-width: 100px;
    margin-right: 6px;
}

.frase-texto {
    margin: 0;
}

.ponto-simples {
    background: linear-gradient(120deg, #CCC5FF, #DCD6FF);
    -webkit-background-clip: text;
    color: transparent;
    position: relative;
}

@media (max-width: 1000px) {
    .introducao h1 {
        font-size: 3rem;
    }

}

@media (max-width: 800px) {
    .introducao {
        grid-template-columns: 1fr 1fr;
        gap: 40px;
    }
    .introducao h1 {
        font-size: 2rem;
    }
    .introducao p {
        font-size: 0.875rem;
    }
    .introducao h1::before {
        width: 30px;
        height: 10px;
        left: 0px;
    }
}

@media (max-width: 400px) {
    .introducao img {
        display: none;
    }
    .introducao {
        grid-template-columns: 1fr;
    }
}

